body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: aliceblue;
    text-align: center;
}

h1 {
    color: aliceblue;
    text-align: center;
}

#img-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-btn button {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #fff;
}

#img-btn button:active {
    color: #087B87;
}

#img-btn button:nth-child(3) {
    color: crimson;
}