.header {
    width: 100%;
    height: 150px;
    background-color: #00829C;
    color: white;
    font-size: large;
    text-align: center;
    font-family: cursive;
    border-radius: 3px;
}

.menu {
    margin: auto;
    width: auto;
    height: 50px;
    background-color: #00829C;
}

ul li {
    position: relative;
    list-style: none;
    float: left;
    margin-left: 50px;
}

ul li a {
    text-decoration: none;
    font-family: cursive;
    display: block;
    line-height: 50px;
    width: 100px;
    color: white;
}

ul li a:hover {
    -webkit-transform: rotate(0.5deg);
}

ul ul {
    position: absolute;
    visibility: hidden;
}

ul ul li a {
    clear: both;
    width: auto;
    display: block;
    background-color: #00829C;
    width: 162px;
    height: 30px;
    line-height: 30px;
}